input[type=date], input[type=text], input[type=number] {
    display: block;
    width: 100%;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    padding: 1px;
    border: 2px inset initial;
}

#add-book-form {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #555555;
}

.input-container {
    position: relative;
    margin: 20px 0;
}

.input-container:first-child {
    margin-top: 0;
}

.input-container:after {
    content: attr(data-error-message);
    display: block;
    float: right;

    font-size: 12px;
    line-height: 14px;
    color: #f44547;
}

.book-container {
    position: relative;
    margin: 20px 0;

    padding: 20px;

    border: 1px solid #555555;
    border-radius: 5px;
}

.book-container:hover {
    box-shadow: -1px 1px 5px 0 rgba(0, 0, 0, .3);
}